
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(70, 163, 163);
}
nav{   
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #F56514;
    display: flex;
}
.navItems{
    
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}
li{ 
    text-align: center;
    height: auto;
    flex-grow: 1;
}
li:hover{
    background-color: #F87D36;
}
li a{
    padding: 4em 6em;
    text-decoration: none;
    display: block;
    color: white;
    height: 100%;
}
button{
    display: none;
}
img{
  height: 6rem;
}
.menu{
    display: none;
}
.arrow  {
    display: none;
}
@media (max-width: 768px){
    nav{
        justify-content: space-between;
    }
   .navItems{
       display: none;
   }
   .menu{
       display: none;
       margin: 0;
   }
    .activeMenu{
        
        display: block;
        background-color: #F87D36;
        width: 50%;
        height: 25%;
        position: relative;
        top: 0;
        right: 0;
        float: right;
        border-radius: 10px;
        border-top-right-radius: unset;
    }
   
   .menuList{
    list-style: none;
    margin: 0;
    padding: 0;
   }
   .menuList li a{
    padding: 5%;
   }
   

   .quienesSomos{
       border-top-left-radius: 10px;
       border-bottom: 1px solid #F56514;
   }
   .contacto{
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px ;
       border-top: 1px solid #F56514;
   }
    button{

        display: block;
        background-color:#F56514 ;
        color: white;
        padding: 1em 2em;
        border: none;
        font-size: 1.5em;
        
    }
    button:focus{
        background-color: #F87D36 ;
    }
   
    
}