
body{
    margin: 0;
    background-color: rgb(70, 163, 163);
}
nav{   
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #F56514;
    display: flex;
}
ul{
    
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}
li{ 
    
    text-align: center;
    height: auto;
    flex-grow: 1;
}
li:hover{
    background-color: #F87D36;
}
a{
    box-sizing: border-box;
    padding: 4em 6em;
    text-decoration: none;
    display: block;
    color: white;
    height: 100%;
}
button{
    display: none;
}
img{
   height: 2rem;
}

@media (max-width: 768px){
    nav{
        justify-content: space-between;
    }
   
    ul{
        display: none;
    }
    button{
        
        display: block;
        
        background-color:#F56514 ;
        color: white;
        padding: 2em;
        border: none;
        font-size: 1.5em;
    }
    button:hover{
        background-color: #F87D36;
    }
   
    
}